---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";

const tagline = "Everyone deserves to feel good";
const unemployed = false;

const whoAmI = {
    firstName: "Ben",
    occupation: unemployed? "unemployed":"software",
};

const taglineColor = "brown";
const taglineFontWeight = "lighter";
const taglineFontStyle = "italic";
---

<BaseLayout pageTitle={pageTitle}>
	<p class="tagline">{tagline}</p>
  <p>This is {whoAmI.firstName}, the {whoAmI.occupation} guy</p>
</BaseLayout>
