---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog Posts"
---
<BaseLayout pageTitle={pageTitle}>
  <br>
  <ul>
    <li><a href="/posts/post-1/">Feels good 101</a></li>
    <li><a href="/posts/post-2/">Post 2</a></li>
    <li><a href="/posts/post-3/">Post 3</a></li>
  </ul>
</BaseLayout>