---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Feel Good Lmtd";
---

<BaseLayout pageTitle={pageTitle}>
	<title>{pageTitle}</title>
	<h2>We deserve to feel good</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>